/*For bigger screen then normal 960px desktop*/

@media (min-width: 1200px) {}

@media only screen and (max-width: 1199px) {
    /*  dropdown menu*/
    ul.home-page {
        top: 59px;
    }
    ul.single-page {
        top: 59px;
    }
    ul.about-page {
        top: 59px;
    }
    ul.ourStory-page {
        top: 59px;
    }
    ul.blog-page {
        top: 59px;
    }
    .date-couuntdown {
        width: 80%;
    }
    .wdding-venu-content {
        width: calc(100% - 0px);
    }
    .attending-content {
        width: 100%;
    }
    .attending-form {
        width: 100%;
    }
    .welcome-tbl-c {
        width: 80%;
    }
}


/*For Tablet Layout*/

@media (min-width: 768px) and (max-width: 991px) {
    /*  dropdown menu*/
    .logo img {
        width: 25%;
    }
    ul.dropdown {
        top: 74px;
    }
    ul.dropdown li a {
        padding: 15px 10px !important;
        margin: 0 !important;
    }
    .main-meun ul li a {
        font-size: 0.838em;
        margin: 0 3px;
        padding: 29px 0;
    }
    .timer-single {
        margin: 0 30px 0 0;
    }
    .date-couuntdown {
        width: 100%;
    }
    .welcome-content h1 {
        font-size: 3.2em;
    }
    .single-slider {
        height: 750px;
    }
    .timer-single::before {
        left: 105%;
    }
    .welcome-section {
        height: 750px;
    }
    .welcome-tbl {
        height: 750px;
    }
    .introduction-section.section-padding {
        padding: 100px 0 0;
    }
    .intruduction-content-img img {
        height: 309px;
        width: 309px;
    }
    .memoragble-days-content h2 {
        font-size: 2.3em;
    }
    .memoragble-days-content p {
        font-size: .938em;
    }
    .wedding-venue-section {
        padding: 150px 0;
    }
    .wdding-venu-content {
        width: calc(100% - 140px);
        margin-bottom: 40px;
    }
    .attending-content {
        width: 100%;
    }
    .attending-form {
        padding: 70px 45px;
        width: 100%;
    }
    .lovely-gallery-section {
        padding: 140px 0;
    }
    .single-journal {
        margin-bottom: 50px;
    }
    .btn-holder {
        margin-top: 50px;
    }
    .footer-section {
        padding: 200px 0;
    }
    .inner-welcome-section>div>div>div>div {
        height: 400px;
    }
    .tbl-c {
        top: 58%;
    }
    .welcome-tbl-c {
        width: 65%;
    }
    .attending-content h2 {
        font-size: 2em;
    }
    .attending-content p {
        font-size: 0.775em;
    }
    .btn.simple-btn {
        font-size: 1em;
    }
    /*accommodation.html*/
    .accommodation-section.section-padding {
        padding: 100px 0 0;
    }
    .accommodation-post-bg {
        height: 500px;
    }
    .single-accommodation {
        margin-bottom: 50px;
    }
    .accommodation-post-bg {
        height: 400px;
    }
    /*bridemaid.html*/
    .groomsman-section.section-padding {
        padding: 100px 0 50px;
    }
    /*.single-groomsman {
  width: 49%;
}*/
    /*engagement-stories.html*/
    .timeline-section {
        margin: 50px 0;
    }
    .engagement-section .single-timeline-content {
        margin-bottom: 100px;
    }
    .section-padding {
        padding: 70px 0;
    }
    /*journal-single.html*/
    .single-blog-post-section.section-padding {
        padding: 100px 0;
    }
    .blog-single-post-content blockquote {
        width: 100%;
    }
    .alignright {
        width: 100%;
        padding-left: 0;
    }
    .single-comment.comment-reply {
        padding-right: 0;
        width: calc(100% - 80px);
    }
    .blog-post-image {
        height: 400px;
    }
    /*journal-with-sidebar.html*/
    .jurnal-sidebar #journal-grid {
        width: 100%;
    }
    .sidebar {
        width: 100%;
        text-align: center;
        margin-top: 60px;
    }
    /*rsvp.html*/
    .inner-attending-form {
        width: calc(80% - 70px);
    }
    /*timeline.html*/
    .single-timeline-content {
        margin-bottom: 100px;
        padding: 0;
    }
}


/*For Wide Mobile Layout*/

@media (max-width: 767px) {
    /*Counter*/
    .dash .digit {
        font-size: 2em;
        height: 25px;
    }
    .single-counter h3 {
        font-size: 0.9em;
    }
    /* dropdown menu*/
    ul.dropdown {
        background-color: transparent;
        box-shadow: none;
        left: 0;
        opacity: 1;
        padding: 10px 25px;
        position: static;
        top: 79px;
        transform: rotateX(0deg);
        visibility: visible;
        width: 100%;
    }
    .menu-toggle {
        cursor: pointer;
        display: block;
        font-size: 30px;
        position: absolute;
        right: 30px;
        top: 24px;
        transition: all 0.4s;
    }
    .main-meun {
        background-color: rgba(255, 255, 255, 0.9);
        display: none;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        overflow: auto;
        height: 350px;
        top: 0px;
    }
    header.menu-and-logo-section.sticky-menu .main-meun ul li a {
        padding: 16px 10px;
    }
    .sticky-menu .menu-toggle {
        top: 12px;
    }
    .main-meun ul li {
        display: block;
    }
    .main-meun ul li a {
        margin: 0;
        padding: 16px 10px;
        text-align: left;
    }
    .main-meun i {
        transform: rotate(0deg);
    }
    header.menu-and-logo-section.sticky-menu .main-meun {
        top: 0px;
    }
    .welcome-content h1 {
        font-size: 2.967em;
    }
    .welcome-tbl-c {
        width: 100%;
    }
    .slider .owl-next {
        display: none;
        ;
    }
    .slider .owl-prev {
        display: none;
        ;
    }
    .timer {
        height: 100px;
        width: 100px;
    }
    .date-couuntdown {
        width: 100%;
    }
    .timer-single {
        margin: 0 10px 0 0;
        padding: 0 10px 0 0;
    }
    .timer-single::before {
        left: 93%;
    }
    .single-journal {
        margin-bottom: 50px;
    }
    .welcome-section {
        height: 650px;
    }
    .single-slider {
        height: 650px;
    }
    .welcome-tbl {
        height: 650px;
    }
    .single-blog-post-section .intruduction-content-img img {
        height: 100%;
        width: 100%;
    }
    .intruduction-content-txt p {
        font-size: .838em;
    }
    .intruduction-content-txt h3 {
        font-size: 1.667em;
    }
    .single-introduction {
        margin-bottom: 50px;
    }
    .introduction-section.section-padding {
        padding: 50px 0 0;
    }
    .memoragble-days-section.section-padding {
        padding: 50px 0 0;
    }
    .memoragble-days-content-inner {
        width: 100%;
    }
    .attending-form input[type="text"] {
        width: 90%;
    }
    .memoragble-days-content h2 {
        font-size: 1.667em;
    }
    .memoragble-days-content p {
        font-size: .938em;
    }
    .wedding-venue-section {
        padding: 100px 0;
    }
    .wdding-venu-content {
        margin-bottom: 40px;
    }
    .attending-content {
        display: block;
        height: 550px !important;
        text-align: center;
        margin-bottom: 50px;
    }
    .attending-content-inner {
        display: block;
        padding-top: 80px;
    }
    .lovely-gallery-section {
        padding: 100px 0;
    }
    .footer-section {
        padding: 150px 0;
    }
    .inner-welcome-section>div>div>div>div {
        height: 400px;
    }
    .inner-welcome-section .tbl-c {
        top: 62%;
        width: 100%;
    }
    .welcome-floral-bg::after {
        display: none;
    }
    .welcome-floral-bg::before,
    .welcome-floral-bg::after {
        display: none;
    }
    .inner-welcome-content h1 {
        font-size: 2.7em;
    }
    /*accommodation.html*/
    .accommodation-section.section-padding {
        padding: 50px 0 0;
    }
    .single-accommodation {
        margin-bottom: 50px;
    }
    .accommodation-post-bg {
        height: 300px;
    }
    .gift-registry-section.section-padding {
        padding: 50px 0;
    }
    /*bridemaid.html*/
    .groomsman-section.section-padding {
        padding: 50px 0;
    }
    .single-groomsman img {
        width: 100%;
    }
    /*.single-groomsman {
  width: 49%;
}
*/
    /*engagement-stories.html*/
    .timeline-section {
        margin: 50px 0;
    }
    .timelinne-heading h2 {
        font-size: 2em;
    }
    .timeline-content p {
        font-size: .938em;
    }
    .engagement-section .single-timeline-content {
        margin-bottom: 50px;
        padding: 0 0 50px;
    }
    /*her-story.html*/
    .section-padding {
        padding: 50px 0;
    }
    .single-blog-post-section .spilt-container {
        width: 100%;
    }
    .intruduction-content-img img {
        width: 100%;
        height: 100%;
    }
    /*journal-single.html*/
    .single-blog-post-section.section-padding {
        padding: 50px 0;
    }
    .married-time h2 {
        font-size: 2.2em;
    }
    .single-blog-post-section .spilt-container {
        width: 50%;
    }
    .blog-single-post-content blockquote {
        width: 100%;
    }
    .alignright {
        padding-left: 0;
        width: 100%;
    }
    .simple-lsit {
        padding: 0 0 0 0px;
    }
    .like-and-comment li {
        font-size: 1.1em;
        margin-right: 10px;
    }
    .single-blog-post-section .commentor-img figure img {
        height: 100%;
        width: 100%;
    }
    .commentor-comment p {
        font-size: 0.838em;
    }
    .single-comment.comment-reply {
        padding-right: 0;
        width: calc(100% - 50px);
    }
    /*journal-with-sidebar.html*/
    .jurnal-sidebar #journal-grid {
        width: 100%;
        padding: 0;
    }
    .sidebar {
        width: 100%;
        text-align: center;
        margin-top: 60px;
    }
    .wedding-jurnal-footer h5 {
        font-size: 1em;
    }
    .wedding-jurnal-footer h6 {
        font-size: 0.938em;
    }
    .wedding-jurnal-footer p {
        font-size: .838em;
    }
    .sidebar-single-element a p {
        font-size: 0.938em;
    }
    .btn.pink-btn {
        width: 165px;
    }
    /*rsvp.html*/
    .inner-attending-form {
        width: 100%;
    }
    /*timeline.html*/
    .timelinne-heading {
        margin-bottom: 40px;
    }
    .single-timeline-content {
        margin-bottom: 50px;
        padding: 0;
    }
}


/*For 320-384px up Mobile Layout*/

@media (max-width: 479px) {
    .logo {
        display: none;
    }
    /*Counter*/
    .dash {
        margin-top: 14px;
    }
    /*Banner*/
    .welcome-content h1 {
        font-size: 2.267em;
    }
    .inner-welcome-section>div>div>div>div {
        height: 300px;
    }
    .time {
        font-size: 1em;
    }
    .timer {
        height: 80px;
        width: 80px;
    }
    .timer-single::before {
        display: none;
    }
    .timer-single {
        margin: 0;
        padding: 0 10px 0 0;
    }
    .introduction-section.section-padding {
        text-align: center;
    }
    .spilt-container {
        width: 100%;
    }
    .intruduction-content-img img {
        width: 90%;
        height: 90%;
        margin: 5%;
    }
    .single-introduction:nth-child(2n) .intruduction-content-txt {
        text-align: center;
    }
    .section-heading h2 {
        font-size: 2em;
    }
    .wdding-venu-content h2 {
        font-size: 2em;
    }
    .wedding-palace-address h4 {
        font-size: 2em;
    }
    .wdding-venu-content p {
        font-size: 0.838em;
    }
    .wdding-venu-content {
        padding: 40px 10px;
    }
    .you-are-attending-section.section-padding {
        text-align: center;
    }
    .attending-content h2 {
        font-size: 1.5em;
    }
    .attending-content p {
        font-size: 0.7em;
    }
    .btn.simple-btn {
        font-size: 1em;
    }
    .attending-form {
        padding: 50px 10px;
    }
    .attending-form input[type="submit"] {
        font-size: 1em;
        width: 185px;
    }
    .wedding-jurnal-section.section-padding {
        text-align: center;
    }
    .wedding-jurnal-footer h5 {
        font-size: 1em;
    }
    .wedding-jurnal-footer h6 {
        font-size: .938em;
    }
    .btn-holder {
        margin-top: 20px;
    }
    .btn.pink-btn {
        width: 175px;
    }
    .footer-content h2 {
        font-size: 3em;
    }
    .footer-section {
        padding: 100px 0;
    }
    /*.attending-content-inner {
  display: block;
}*/
    .inner-welcome-section .tbl-c {
        top: 65%;
    }
    /*accommodation.html*/
    .inner-welcome-content h1 {
        font-size: 1.9em;
    }
    .single-accommodation {
        text-align: center;
    }
    .accommodation-content p {
        margin: 0;
        font-size: .938em;
    }
    .accommodation-post-bg {
        height: 200px;
    }
    /*bridemaid.html*/
    /*.single-groomsman {
  width: 100%;
}*/
    .gift-registy-gallery.owl-carousel .owl-dot {
        margin-right: 5px;
    }
    .gift-registy-gallery .owl-dot {
        margin-top: 5px;
    }
    /*her-story.html*/
    .section-padding {
        text-align: center;
    }
    .story-content p {
        font-size: .938em;
    }
    /*journal-single.html*/
    .married-time h2 {
        font-size: 1.4em;
    }
    .single-blog-post-section .spilt-container {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .single-post-wraper {
        margin-top: 25px;
    }
    .blog-single-post-content p {
        font-size: 0.938em;
        ;
    }
    .simple-lsit li {
        font-size: 0.938em;
        padding-left: 18px;
    }
    .social-list-and-like-corner {
        margin-top: 50px;
    }
    .text-left {
        text-align: center;
        margin-bottom: 30px;
    }
    .text-right {
        text-align: center;
    }
    .commentor-comment {
        width: 100%;
    }
    .commentor-img {
        float: none;
        margin: 0 auto 30px;
        width: 40%;
    }
    .single-comment.comment-reply {
        width: 100%;
    }
    .comment-reply .commentor-img {
        width: 30%;
    }
    .comment-form input:not([type="submit"]) {
        width: 100%;
    }
    .comment-form textarea {
        height: 150px;
        width: 100%;
    }
    /*journal-with-sidebar.html*/
    .sidebar-single-element a p {
        font-size: 0.838em;
    }
    .social-list ul li a {
        width: 120px;
        font-size: .838em;
    }
    /*rsvp.html*/
    .attending-content-inner-2 {
        margin-bottom: 30px;
    }
    .attending-content-inner-2 h2 {
        font-size: 1.667em;
    }
    .attending-content-inner-2 p {
        margin: 0 0 20px;
        font-size: .838em;
    }
    .attending-content-inner-2 h5 {
        font-size: .938em;
    }
    .attending-form-2 label {
        font-size: 0.938em;
    }
    .attending-form-2 select#the_heart_attending_event {
        font-size: 0.838em;
    }
    .attending-form-2 {
        padding: 25px;
    }
    .attending-form-2 input[type="submit"] {
        font-size: .938em;
        width: 190px;
    }
    .memoragble-days-wraper:before {
        background-image: url(img/weddin-venue-floral.png);
        background-size: 100%;
    }
    .memoragble-days-content {
        height: 100px;
    }
    .memoragble-days-section.section-padding {
        display: none;
    }
    .owl-dots,
    .owl-dot {
        margin-top: -80px;
    }
}